# ==========================================
# CONFIGURAZIONE CREDENZIALI EBAY API (Generato via Web App)
# ==========================================

EBAY_CLIENT_ID=ClaudioS-Portainv-PRD-80154be22-e02433f0
EBAY_CLIENT_SECRET=PRD-0154be229f92-244e-4477-9eaa-e0d5
EBAY_REFRESH_TOKEN=v^1.1#i^1#r^1#I^3#f^0#p^3#t^Ul4xMF8zOjE1MEMxRUZFRkYyMkU2MEEyNDQ2NTQ4QUZCNDQ1MTgyXzJfMSNFXjI2MA==
EBAY_ENV=PRODUCTION
EBAY_SITE_ID=101

# ==========================================
# CONFIGURAZIONE SERVER & AUTOMAZIONE
# ==========================================

PORT=3000
AUTO_RESTOCK_INTERVAL_MINUTES=15
